.border-radius-3{
    border-radius: $border-radius-3;
}
@mixin button{
    border-radius: $border-radius-3;
    color: $Neutral-white; 
    letter-spacing: 0.1em;
    text-align: center; 
    vertical-align: middle;
    gap:12px;
    padding: 16px 24px;
    display: flex;
}

@mixin btn-1-hover{
    background-color: $accent-200;
    &:hover{
        background-color: $accent-300;
    }
}
.button-1-hover{
    @include btn-1-hover();
}
@mixin btn-2-hover{
    background-color: $gray-100;
    &:hover{
        background-color: $gray-200;
    }
}
.button-2-hover{
    @include btn-1-hover();
}
.button-1{
    @include button();
    @include btn-1-hover();
    @include mobile{
        padding: 12px 20px;
    }
}
.button-2{
    @include button();
    @include btn-2-hover();
    @include mobile{
        padding: 12px 20px;
    }
}
.button-3{
    @include button();
    border-radius: $border-radius-sm;
    background-color: $primary-300;
    padding: 4px 8px;
    text-align: center; 
    vertical-align: middle;
    display: inline-block;
}
.swiper-btn {
    border: 1px solid $Neutral-400; 
    color: $Neutral-400; 
    padding: 4px 16px; 
    border-radius: 100px; 
    background-color: transparent; // 確保背景是透明的
    cursor: pointer; // 當滑鼠懸停在按鈕上時顯示手型游標
    &:hover {
      background-color: $Neutral-100; 
      color: $Neutral-white; 
    }
}
  